# Dependencies
node_modules
.pnp
.pnp.js

# Build output
.next
out
build
dist

# Version control
.git
.gitignore

# IDE / Editor
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# Docker & K8s
Dockerfile
docker-compose*.yml
k8s/

# Docs & config
docs/
test/
*.md
LICENSE
biome.json
.eslintrc*
.prettierrc*

# Misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo
